/*!
 * Oscar Gil
 * Styles used in albumPage.html for Lab 1: Album Page v2
 */

 /* This style was used within the <head> of my albumPage.html as an internal style sheet */
td{
	font-style: italic;
}
/* This style was used as an in-line style for the first band member of my albumPage.html */
li{
	color:red; font-weight:bold;
}
