/*!
 * Oscar Gil
 * Styles used in Restaurant site pages for Lab 2 Restaurant Site v2
 */

/* This style is for <h1> in Lab 2 Restaurant Site v2, to match header and footer across the pages */
h1{
	color:blue; font-weight:bold; font-style: italic;
}

h3{
	color:blue; font-weight:bold; font-style: italic;
}

td{
	color:green; font-family:verdana;
}