/*
   Oscar Gil
 */
h1{
	color:orange; font-weight:bold; font-style: italic;
}

h3{
	color:blue; font-weight:bold; font-style: italic;
}

td{
	color:green; font-family:verdana;
}

tr{
	color:green; font-family:verdana;
}

thead {
	color:green; font-family:verdana; text-decoration: underline;
}

a:link{
	text-decoration: none;
}

a:visited{
	color: Rose; text-decoration: underline;
}

a:hover{
	font-weight: Bold;
}

a:active{
	text-decoration: none;
}